# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
venv/
.env/

# Django related files
*.log
db.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Virtual environment
.env/
